<html>
	<head>
		<title>Alba4 - Your Timetable Generator!</title>
		
		<link rel="icon" href="images/icon.png">

		<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style/styles.css">

		<script src="script/jquery-1.12.2.min.js"></script>
		<script src="script/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container">

			<!-- The navigation tab-->
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-toggle="tab" href="#addcoursetab">Add Course</a></li>
				<li><a data-toggle="tab" href="#viewtimetabletab">View Timetable</a></li>
				<li><a data-toggle="tab" href="#loadtimetabletab">Load Timetable</a></li>
				<li><a data-toggle="tab" href="#settingstab">Settings</a></li>
			</ul>
			
			<div class="tab-content">